body {
  background-color: var(--base);
  color: var(--text);
}

.topnav {
    background-color: var(--crust);
    overflow: hidden;
}

.topnav a {
  float: left;
  color: inherit;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

.topnav button.themeChanger {
  float: right;
  border: none;
  background-color: inherit;
  padding: 0;
  margin: 0;
  display: block;
  height: 48px;
}

.topnav button.themeChanger img {
  height: 48px;
  width: 48px;
  content: var(--theme_indicator);
}

button.themeChanger:hover {
  background-color: blue;
}
